@model FootballCoachTeamFormModel

@{
    ViewData["Title"] = "DeleteCoachTeam";
}

<h2>Наистина ли желаете да изтриете:</h2>

<table class="table table-bordered">
    <tr>
        <th colspan="3">Отбори</th>
        <th>От дата</th>
        <th>До дата</th>
        <th>Пост</th>
        <th>Брой мачове</th>
    </tr>
    <tr>
        <td><img src="@Url.Content(Model.TeamCountryFlag)" height="20" width="30" /></td>
        <td><img src="@Url.Content(Model.TeamLogo)" height="20" width="30" /></td>
        <td>@Model.Team</td>
        <td>@Model.FromDate.Day.@Model.FromDate.Month.@Model.UntilDate.Year</td>
        <td>@Model.UntilDate.Day.@Model.UntilDate.Month.@Model.UntilDate.Year</td>
        <td>@Model.Position</td>
        <td>@Model.Matches</td>
    </tr>
</table>

<a href="/admin/deleteCoachTeam" class="btn btn-success">Да</a><a href="/admin/footballCoach/@Model.CoachId" class="btn btn-danger">Не</a>