@model GameViewModel


@{
    ViewData["Title"] = "ById";
}

<style>
    .important {
        text-align: center;
        font-weight: bold;
    }
</style>

<h2 style="text-align:center">@Model.HostName - @Model.GuestName</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <tr>
                    <td class="important"><a href="/football/side/@Model.Data.TeamsStatistic.Where(ts => ts.Type.id == 1).First().Side.Id">@Model.HostName</a></td>
                    <td colspan="2" class="important">@Model.HostGoalsCount - @Model.GuestGoalsCount (@Model.HostGoalsFirstHalfCount - @Model.GuestGoalsFirstHalfCount)</td>
                    <td class="important"><a href="/football/side/@Model.Data.TeamsStatistic.Where(ts => ts.Type.id == 2).First().Side.Id">@Model.GuestName</a></td>
                </tr>
                <tr>
                    <td rowspan="7" style="text-align:center"><img src="@Url.Content(@Model.HostTeamLogo)" /></td>
                    <td style="font-weight:bold">Първенство</td>
                    <td>@Model.Tournament</td>
                    <td rowspan="7" style="text-align:center"><img src="@Url.Content(@Model.GuestTeamLogo)" /></td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Сезон</td>
                    <td>@Model.Season</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Кръг</td>
                    <td>@Model.Round</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Дата</td>
                    <td>@Model.Date</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Начален сигнал</td>
                    <td>@Model.Time</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Стадион</td>
                    <td>
                        @Model.Stadium.Name (@Model.Stadium.City)
                    </td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Посещаемост</td>
                    <td>@Model.Atendance</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <h3 style="text-align:center">ГОЛОВЕ</h3>
        <div class="col-lg-12">
            <table class="table table-striped">
                @foreach (var goal in Model.Goals)
                {
                    string hostScorerVisibility = goal.HostGoal == false ? "hidden" : string.Empty;
                    string guestScorerVisibility = goal.HostGoal == true ? "hidden" : string.Empty;
                    string hostAssistanceVisibility = goal.GoalAsistantName == "Неизвестен" || goal.HostGoal == false ? "none" : string.Empty;
                    string guestAssistanceVisibility = goal.GoalAsistantName == "Неизвестен" || goal.HostGoal == true ? "none" : string.Empty;

                    string assisstanceVisibility = goal.GoalAsistantName == "Неизвестен" ? "none" : string.Empty;

                    <tr>
                        <td width="45%">
                            <div>
                                <p style="visibility:@hostScorerVisibility">@goal.ScorerName @goal.Minute</p>
                                <p style="display:@hostAssistanceVisibility">асистенция на @goal.GoalAsistantName</p>
                            </div>
                        </td>
                        <td width="10%" style="text-align:center">@goal.CountHostGoals - @goal.CountGuestGoals</td>
                        <td width="45%">
                            <div>
                                <p style="visibility:@guestScorerVisibility; text-align:end">@goal.ScorerName @goal.Minute</p>
                                <p style="display:@guestAssistanceVisibility; text-align:end">асистенция на @goal.GoalAsistantName</p>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <h3 style="text-align:center">СТАРТОВИ СЪСТАВИ</h3>
        <div class="col-lg-6">
            <table class="table table-striped">
                <tbody>
                    @foreach (var line in Model.LineUpsHost)
                    {
                        <tr>
                            <td width="15%">@line.PlayerNumber</td>
                            <td width="60%"><img src="@Url.Content(line.CountryPicture)" heigt="15" width="20" /> 
                                <a href="/football/player/@line.PlayerId">@line.PlayerName</a>  
                                <img src="@Url.Content(line.PictureOut)" /></td>
                            <td width="25%">
                                @foreach (var goal in line.Goals)
                                {
                                    <img src="@Url.Content(goal.Key)" /> @goal.Value
                                }
                                @foreach (var card in line.Cards)
                                {
                                    <img src="@Url.Content(card.Key)" /> @card.Value
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="font-weight:bold">Треньор</td>
                        <td>
                            <img src="@Url.Content(Model.HostTeamCoach.CountryPicture)" height="15" width="20" />
                            @Model.HostTeamCoach.Name
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-lg-6">
            <table class="table table-striped">
                <tbody>
                    @foreach (var line in Model.LineUpsGuest)
                    {
                        <tr>
                            <td width="15%">@line.PlayerNumber</td>
                            <td width="60%"><img src="@Url.Content(line.CountryPicture)" heigt="15" width="20" />
                                <a href="/football/player/@line.PlayerId">@line.PlayerName</a>
                                <img src="@Url.Content(line.PictureOut)" /></td>
                            <td width="25%">
                                @foreach (var goal in line.Goals)
                                {
                                    <img src="@Url.Content(goal.Key)" /> @goal.Value
                                }
                                @foreach (var card in line.Cards)
                                {
                                    <img src="@Url.Content(card.Key)" /> @card.Value
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="font-weight:bold">Треньор</td>                          
                        <td>
                            <img src="@Url.Content(Model.GuestTeamCoach.CountryPicture)" height="15" width="20" />
                            @Model.GuestTeamCoach.Name
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h3 style="text-align:center">РЕЗЕРВИ</h3>
        <div class="col-lg-6">
            <table class="table table-striped">
                <tbody>
                    @foreach (var substitute in Model.SubstitutesHost)
                    {
                        <tr>
                            <td width="15%">@substitute.PlayerIn.Player.PlayerNumber</td>
                            <td width="60%">
                                <div>
                                    <p>
                                        <img src="@Url.Content(substitute.PlayerIn.Player.Country.PicturePath)" heigt="15" width="20" />
                                        <a href="/football/player/@substitute.PlayerIn.Player.Id">@substitute.PlayerIn.Player.Name</a> 
                                        <img src="@Url.Content(substitute.PlayerIn.InIcon)" />
                                    </p>
                                    <p>
                                        за <img src="@Url.Content(substitute.PlayerOut.Player.Country.PicturePath)" heigt="15" width="20" />
                                        <a href="/football/player/@substitute.PlayerOut.Player.Id">@substitute.PlayerOut.Player.Name</a> 
                                        @substitute.Minute
                                    </p>
                                </div>
                            </td>
                            <td>
                            <td width="25%">
                                @foreach (var goal in substitute.Goals)
                                {
                                    <img src="@Url.Content(goal.Key)" /> @goal.Value
                                }
                                @foreach (var card in substitute.Cards)
                                {
                                    <img src="@Url.Content(card.Key)" /> @card.Value
                                }
                            </td>
                        </tr>
                    }
                    @foreach (var reserve in Model.HostTeamReserves)
                    {
                        <tr>
                            <td>@reserve.PlayerNumber</td>
                            <td>
                                <img src="@Url.Content(reserve.CountryPicture)" heigt="15" width="20" />
                                <a href="/football/player/@reserve.PlayerId">@reserve.PlayerName</a>                               
                            </td>
                            <td colspan="2"></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <table class="table table-striped">
                <tbody>
                    @foreach (var substitute in Model.SubstitutesGuest)
                    {
                        <tr>
                            <td width="15%">@substitute.PlayerIn.Player.PlayerNumber</td>
                            <td width="60%">
                                <div>
                                    <p>
                                        <img src="@Url.Content(substitute.PlayerIn.Player.Country.PicturePath)" heigt="15" width="20" />
                                        <a href="/football/player/@substitute.PlayerIn.Player.Id">@substitute.PlayerIn.Player.Name</a> 
                                        <img src="@Url.Content(substitute.PlayerIn.InIcon)" />
                                    </p>
                                    <p>
                                        за <img src="@Url.Content(substitute.PlayerOut.Player.Country.PicturePath)" heigt="15" width="20" />
                                        <a href="/football/player/@substitute.PlayerOut.Player.Id">@substitute.PlayerOut.Player.Name</a> 
                                        @substitute.Minute
                                    </p>
                                </div>
                            </td>
                            <td>
                            <td width="25%">
                                @foreach (var goal in substitute.Goals)
                                {
                                    <img src="@Url.Content(goal.Key)" /> @goal.Value
                                }
                                @foreach (var card in substitute.Cards)
                                {
                                    <img src="@Url.Content(card.Key)" /> @card.Value
                                }
                            </td>
                        </tr>
                    }
                    @foreach (var reserve in Model.GuestTeamReserves)
                    {
                        <tr>
                            <td>@reserve.PlayerNumber</td>
                            <td>
                                <img src="@Url.Content(reserve.CountryPicture)" heigt="15" width="20" />
                                <a href="/football/player/@reserve.PlayerId">@reserve.PlayerName</a>
                            </td>
                            <td colspan="2"></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 style="text-align:center">СЪДИИ</h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td width="20%">Главен съдия</td>
                        <td width="80%">
                            <img src="@Url.Content(Model.GameReferees.Where(r => r.TypeId == 1).First().CountryPicture)" heigt="15" width="20" />
                            @Model.GameReferees.Where(r => r.TypeId == 1).First().Name
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">Асистент съдии</td>
                        <td width="80%">
                            <div>
                                @foreach (var referee in Model.GameReferees.Where(r => r.TypeId == 2))
                                {
                                    <p>
                                        <img src="@Url.Content(referee.CountryPicture)" heigt="15" width="20" />
                                        @referee.Name
                                    </p>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%">Четвърти съдия</td>
                        <td width="80%">
                            <img src="@Url.Content(Model.GameReferees.Where(r => r.TypeId == 3).First().CountryPicture)" heigt="15" width="20" />
                            @Model.GameReferees.Where(r => r.TypeId == 3).First().Name
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h3 style="text-align:center">ИЗВЪН ИГРА</h3>
        <div class="col-lg-6">
            <table class="table table-striped">
                <tbody>
                    @foreach (var sideline in Model.HostTeamSidelines)
                    {
                        <tr>
                            <td>
                                <img src="@Url.Content(sideline.CountryPicture)" height="15" width="20" />
                                <a href="/football/player/@sideline.PlayerId">@sideline.PlayerName</a>
                                
                            </td>
                            <td><img src="@Url.Content(sideline.SidelineReasonPicture)" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <table class="table table-striped">
                <tbody>
                    @foreach (var sideline in Model.GuestTeamSidelines)
                    {
                        <tr>
                            <td>
                                <img src="@Url.Content(sideline.CountryPicture)" height="15" width="20" />
                                <a href="/football/player/@sideline.PlayerId">@sideline.PlayerName</a>
                            </td>
                            <td><img src="@Url.Content(sideline.SidelineReasonPicture)" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h3 style="text-align:center">ОБЩА СТАТИСТИКА</h3>
        <div class="col-lg-4">
            <table class="table table-striped">
                <tr>
                    <td class="important">@Model.HostTeamGeneralGameStatistic.BallPossession</td>
                </tr>
                <tr>
                    <td class="important">@Model.HostTeamGeneralGameStatistic.Corners</td>
                </tr>
                <tr>
                    <td class="important">@Model.HostTeamGeneralGameStatistic.ShotsOnTarget</td>
                </tr>
                <tr>
                    <td class="important">@Model.HostTeamGeneralGameStatistic.ShotsWide</td>
                </tr>
                <tr>
                    <td class="important">@Model.HostTeamGeneralGameStatistic.Fouls</td>
                </tr>
                <tr>
                    <td class="important">@Model.HostTeamGeneralGameStatistic.Offsides</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4">
            <table class="table table-striped">
                <tr>
                    <td class="important">владение на топката</td>
                </tr>
                <tr>
                    <td class="important">корнери</td>
                </tr>
                <tr>
                    <td class="important">удари във вратата</td>
                </tr>
                <tr>
                    <td class="important">удари извън вратата</td>
                </tr>
                <tr>
                    <td class="important">нарушения</td>
                </tr>
                <tr>
                    <td class="important">засади</td>
                </tr>
            </table>
        </div>

        <div class="col-lg-4">
            <table class="table table-striped">
                <tr>
                    <td class="important">@Model.GuestTeamGeneralGameStatistic.BallPossession</td>
                </tr>
                <tr>
                    <td class="important">@Model.GuestTeamGeneralGameStatistic.Corners</td>
                </tr>
                <tr>
                    <td class="important">@Model.GuestTeamGeneralGameStatistic.ShotsOnTarget</td>
                </tr>
                <tr>
                    <td class="important">@Model.GuestTeamGeneralGameStatistic.ShotsWide</td>
                </tr>
                <tr>
                    <td class="important">@Model.GuestTeamGeneralGameStatistic.Fouls</td>
                </tr>
                <tr>
                    <td class="important">@Model.GuestTeamGeneralGameStatistic.Offsides</td>
                </tr>
            </table>
        </div>
    </div>
</div>