@model GameRoundViewModel

@{
    ViewData["Title"] = "ByRound";
    int tournamentId = Model.games.First().TournamentId;
    int seasonId = Model.games.First().SeasonId;
    string roundName = Model.games.First().Round;
}
<div class="container">
    <div class="row">
        <div class="col-lg-11">
        </div>
        <div class="col-lg-1">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Кръгове
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var round in Model.rounds)
                    {
                        <a class="dropdown-item" href="/football/game/round/@tournamentId/@seasonId/@round.Id">@round.Name</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class=" col-lg-2">
            @Html.PartialAsync("_CompetitionsByCountry").Result
        </div>
        <div class="col-lg-10">
            <h1>@roundName</h1>
            <table class="table table-hover">
                <tbody>
                    @foreach (var game in Model.games)
                    {
                        <tr>
                            <td>@game.Date.ToShortDateString()</td>
                            <td style="text-align:end">@game.Statistics.Where(gs => gs.Type.id == 1).First().Squad.Team.Name</td>
                            <td style="text-align:center"><a href="/football/game/@game.Id">@game.HostGoals - @game.GuestGoals</a></td>
                            <td>@game.Statistics.Where(gs => gs.Type.id == 2).First().Squad.Team.Name</td>
                            <td>@game.Season</td>
                            <td style="text-align:end">@game.Tournament</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h1>Класиране</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td></td>
                    <td>Отбор</td>
                    <td>д.</td>
                    <td>п.</td>
                    <td>р.</td>
                    <td>з.</td>
                    <td>г.р.</td>
                    <td>т.</td>
                    <td>г.</td>
                    <td>п.</td>
                    <td>р.</td>
                    <td>з.</td>
                    <td>г.р.</td>
                    <td>т.</td>
                    <td>о.</td>
                    <td>п.</td>
                    <td>р.</td>
                    <td>з.</td>
                    <td>г.р.</td>
                    <td>т.</td>
                </tr>          
            </thead>
            <tbody>
                @foreach (var team in Model.teamsTable)              
                {
                <tr>
                    <td>@team.Rank</td>
                    <td>@team.TeamName</td>
                    <td>@team.HostMathes</td>
                    <td>@team.HostWins</td>
                    <td>@team.HostDraws</td>
                    <td>@team.HostLoses</td>
                    <td>@team.HostScoredGoals - @team.HostAllowedGoals</td>
                    <td>@team.HostPoints</td>
                    <td>@team.GuestMathes</td>
                    <td>@team.GuestWins</td>
                    <td>@team.GuestDraws</td>
                    <td>@team.GuestLoses</td>
                    <td>@team.GuestScoredGoals - @team.GuestAllowedGoals</td>
                    <td>@team.GuestPoints</td>
                    <td>@team.OverallMathes</td>
                    <td>@team.OverallWins</td>
                    <td>@team.OverallDraws</td>
                    <td>@team.OverallLoses</td>
                    <td>@team.OverallScoredGoals - @team.OverallAllowedGoals</td>
                    <td>@team.OverallPoints</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
