@model FootballPlayerProfileAdminModel



<table class="table table-bordered">
    <tbody>
        <tr>
            <td></td>
            <td><a href="/admin/updateFootballPlayer/@Model.Id">Промени</a> | <a href="/admin/deleteFootballPlayer/@Model.Id">Изтрий</a></td>
        </tr>
        <tr>
            <th>Име</th>
            <td><img src="@Url.Content(Model.Picture)" height="100" width="80" /> @Model.FirstName @Model.LastName</td>
        </tr>
        <tr>
            <th>Съкратено име</th>
            <td>@Model.ProfileName</td>
        </tr>
        <tr>
            <th>Страна</th>
            <td>
                @if (Model.Countries == null)
                {
                    <a href="/admin/createPlayerCountry/@Model.Id">Добави</a>
                }
                else
                {
                    foreach (var c in Model.Countries)
                    {
                        <p><img src="@Url.Content(c.PicturePath)" height="20" width="20" /> @c.Name <a href="/admin/updatePlayerCountry/@Model.Id/@c.Id">Промени</a> | <a href="/admin/deletePlayerCountry/@Model.Id/@c.Id">Изтрий</a></p>
                    }
                    <a href="/admin/createPlayerCountry/@Model.Id">Добави</a>

                }
            </td>

        </tr>
        <tr>
            <th>Дата на раждане</th>
            <td id="date">@Model.BirthDate.Day.@Model.BirthDate.Month.@Model.BirthDate.Year</td>
        </tr>
        <tr>
            <th>Място на раждане</th>
            <td>@Model.BirthPlace</td>
        </tr>
        <tr>
            <th>Години</th>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <th>Височина</th>
            <td>@Model.Height</td>
        </tr>
        <tr>
            <th>Силен крак</th>
            <td>@Model.Foot</td>
        </tr>
    </tbody>
</table>

<h4>Транфери</h4>

@if (Model.Transfers != null)
{
    <a href="/admin/createPlayerTransfer/@Model.Id">добави трансфер</a>
    <table class="table table-bordered">
        <tr>
            <th>сезон</th>
            <th>дата</th>
            <th colspan="3">от</th>
            <th colspan="3">в</th>
            <th>трансферна цена</th>
            <th>под наем</th>
            <th></th>
        </tr>

        @foreach (var t in Model.Transfers)
        {
            <tr>
                <td>@t.Season</td>
                <td>@t.Date</td>
                <td><img src="@Url.Content(t.PreviousTeamLogo)" height="20" width="20" /></td>
                <td><img src="@Url.Content(t.PreviousTeamCountryFlag)" height="20" width="20" /></td>
                <td>@t.PreviousTeam</td>
                <td><img src="@Url.Content(t.CurrentTeamLogo)" height="20" width="20" /></td>
                <td><img src="@Url.Content(t.CurrentTeamCountryFlag)" height="20" width="20" /></td>
                <td>@t.CurrentTeam</td>
                <td>@t.TransferPrice</td>
                <td>@t.OnLoan</td>
                <td><a href="/admin/updatePlayerTransfer/@t.Id">Промени</a> | <a href="/admin/deletePlayerTransfer/@t.Id">Изтрий</a></td>
            </tr>
        }

    </table>
}
else
{
    <a href="/admin/createPlayerTransfer/@Model.Id">добави трансфер</a>
}







